/* --------------ROOT------------- */
:root {
  --white: #ffffff;
  --creme: #f2ede2;
  --hasselnut: #d8cdc2;
  --purplebrown: #4c0b05;
  --pinetree: #738153;

  --lust: lust, serif;
  --nunito: nunito-sans, sans-serif;
}

/* --------------BODY-------------- */

body {
  background-color: var(--creme);
  color: var(--purplebrown);
}
main {
  margin-top: 150px;
}

main div {
  margin-bottom: 50px;
}

p,
li {
  font-variant: var(--nunito);
}
h2 {
  margin-bottom: 30px;
}

h2 {
  font-family: var(--lust);
  font-size: 1.8rem;
}

h3 {
  font-family: var(--lust);
  font-size: 1.4rem;
}

h4 {
  font-family: var(--lust);
  font-size: 1.2rem;
}

h5 {
  font-family: var(--lust);
  font-size: 1rem;
}

a {
  font-family: var(--nunito);
  text-decoration: none;
}

.ekstern {
  text-align: center;
  margin-top: 20%;
}

.show {
  display: initial !important;
}

/* -----------HEADER-------------- */
header {
  font-family: var(--nunito);
}

.navbar {
  background-color: var(--creme);
}

.logo1 {
  width: 0px;
  filter: invert(7%) sepia(57%) saturate(3718%) hue-rotate(352deg)
    brightness(105%) contrast(101%);
  width: 0;
}

.logo2 {
  width: 80px;
  filter: invert(7%) sepia(57%) saturate(3718%) hue-rotate(352deg)
    brightness(105%) contrast(101%);
}

.logo2 img {
  max-height: 100%;
}

.navbar-brand {
  margin: auto;
}

.navbar-toggler {
  background: none;
  color: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding-top: 20px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  display: flex;
  flex-direction: column;
  background-image: none !important;
}

.bar {
  background-image: url(../assets/bar.png);
  background-repeat: none;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  background-size: contain;
}

.bar.one {
  animation: 2s;
  transition: 0.5s;
}

.bar.two {
  animation: 2s;
  transition: 0.5s;
}

.bar.three {
  animation: 2s;
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .bar.one {
  transform: rotate(45deg);
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .bar.two {
  opacity: 0;
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .bar.three {
  transform: rotate(-45deg) translate(11px, -11px);
  transition: 0.5s;
}

.navbar-toggler[aria-expanded="true"] .navbar .fixed-top {
  box-shadow: 0px 0px 2px grey;
}

.navbar-nav {
  margin-left: 50px;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
.navbar-nav li a {
  color: var(--purplebrown) !important
  ;
}
.navbar-nav li a:hover {
  color: #947d7a !important;
}

#book {
  border: 2px solid var(--purplebrown);
}
#book:hover {
  background-color: var(--purplebrown);
  color: var(--creme) !important;
  transition: 0.2s;
}

.nav-link {
  padding: 10px !important;
}

#navbarNavAltMarkup {
  background-color: none;
}

.dropdown-menu {
  background-color: var(--creme) !important;
  border: none;
  border-radius: 0;
}

.dropdown-item:hover {
  background-color: inherit !important;
}

/* ---------footer---------- */

#footer {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 50px 50px;
  font-family: var(--nunito);
  border-top: 1px solid var(--purplebrown);
  padding-top: 30px;
}

#footer h4 {
  text-align: center;
}

#dpf_logo {
  max-width: 300px;
}

#map {
  box-shadow: 0px 0px 5px 0px grey;
}

#by_viola {
  text-align: center;
  opacity: 0.8;
  padding: 10px;
  font-size: 0.9em;
}

/* ------------MEDIA QUIERIES------------ */
@media screen and (max-width: 991px) {
  .logo1 {
    width: 80px;
  }
  .logo2 {
    height: 0;
  }

  .navbar-nav {
    align-items: flex-start;
    width: 100%;
  }
  .dropdown-menu {
    margin-left: 30px;
  }
  #footer {
    flex-wrap: wrap;
  }

  .nav-shadow {
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
  }

  #first_container {
    flex-wrap: wrap;
  }
}
