/* --------------ROOT------------- */
:root {
  --white: #fffcf5;
  --creme: #f2ede2;
  --hasselnut: #d8cdc2;
  --purplebrown: #4c0b05;
  --pinetree: #738153;

  --lust: lust, serif;
  --nunito: nunito-sans, sans-serif;
}

main div {
  margin-bottom: 50px !important;
}

/* ------------FIRST CONTAINER------------ */

#first_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 980px;
  margin: auto;
}

.intro_img {
  max-width: 400px;
  margin: 40px;
  flex-shrink: 1;
}

#intro_text_div {
  margin-top: 40px;
}
.small_text {
  font-size: 1.1rem;
}

#intro_text_div img {
  max-width: 250px;
}

/* ------------PROBLEMER------------ */

#problemer {
  background-color: var(--pinetree);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);

  margin-bottom: 100px !important;
}

.problems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  background-color: var(--white);
  color: var(--purplebrown);
  padding: 30px;
  border: 2px var(--purplebrown) solid;
}

/* ------------CAROUSEL------------ */

#anmeldelser {
  max-width: 1100px;
  margin: auto;
}

.carousel-item {
  padding: 30px;
}

.carousel-inner {
  margin: auto;
  padding-bottom: 0 !important;
  max-width: 800px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  background-color: var(--white);
  border: var(--purplebrown) 2px solid;
}

#anmeldelser h3 {
  margin-bottom: 30px;
}

/* -----------LETTER TO NINA----------- */

#lettertonina_div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  padding-bottom: 70px;
}

.text_letter {
  text-align: center;
  max-width: 500px;
  font-size: 1.3rem;
}
.lettertonina {
  margin: 40px;
}

/* ----------------BLOG---------------- */
#blog {
  background-color: var(--hasselnut);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogposts {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0 !important;
}

.blogpost {
  background-color: var(--purplebrown);
  margin-bottom: 0 !important;
  max-width: 250px;
  height: 280px;

  overflow: hidden;
}

#blog a {
  margin: 30px;
}

.img_div {
  display: flex;
  justify-content: center;
  margin-bottom: 0 !important;
}

.blogpost img {
  height: 200px;
  object-position: center;
}
.blogpost h5 {
  color: white;
  text-align: left;
  padding: 15px;
}
.blog_se_flere {
  border: solid 2px var(--purplebrown);
  padding: 10px;
  text-decoration: none;
  color: var(--purplebrown);
  text-align: center;
  font-size: 1.3rem;
  margin: 0 !important;
}
.blog_se_flere:hover {
  transition: 0.2s;
  background-color: var(--purplebrown) !important;
  color: var(--creme);
}

/* -----------FREDAGSMAIL----------- */

#fredagsmail {
  padding: 40px;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#fredagsmail p {
  max-width: 700px;
}
.form_div {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0 !important;
}

.form_div input {
  margin: 10px;
  border: 2px solid var(--purplebrown);
  padding: 10px;
  background-color: inherit;
  color: var(--purplebrown);
}
#submit {
  color: var(--purplebrown) !important;
}

#submit:hover {
  background-color: var(--purplebrown);
  color: var(--creme) !important;
  transition: 0.2s;
}

#meditation {
  color: var(--purplebrown);
  text-decoration: underline;
  display: none;
}

/* ------------GROWTH RINGS------------ */

#growthrings {
  background-image: url(../assets/images_website/growthrings.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 150px;
  background-color: var(--purplebrown);
  box-shadow: 0px 0px 5px grey;
}

/* ------------MEDIA QUIERIES------------ */
@media screen and (max-width: 991px) {
  #first_container {
    max-width: 90%;
  }

  .carousel-inner {
    max-width: 70%;
  }

  .problems {
    flex-wrap: wrap;
  }
}
